<!DOCTYPE html>
<html class="no-js" lang="en">

{% include head.html %}

<body class="half">

  <main>
    <div class="half--{{ site.half_side }} half__content">
      {{ content }}
      {% include social.html %}
    </div>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    /* 设置图片宽度为视窗宽度的一半 */
    img {
        width: 50vw; /* 使用视窗宽度的百分比单位 vw */
        display: block; /* 让图片以块级元素显示，确保占据整行 */
        margin: 0 auto; /* 居中显示图片 */
    }
</style>
<title>Half Width Image</title>
</head>
<body>
    <!-- 图片地址替换为你自己的图片地址 -->
    <a href="https://sm.ms/image/TrqbEnpYdmXg4zV" target="_blank"><img src="https://s2.loli.net/2024/06/29/TrqbEnpYdmXg4zV.jpg" ></a>

  </main>

</body>

</html>
